<?xml version="1.0" encoding="utf-8"?>
<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-alipay"
        version="0.0.1">
    <name>AlipayPlugin</name>
    <description>支付宝支付插件</description>
    <license>Apache 2.0</license>
    <keywords>alipay,payment</keywords>
</plugin>